<app-bargraphsummary></app-bargraphsummary> 
<app-etl28dayanalysis></app-etl28dayanalysis>
<br />

<div class="container container-xxl">

    <div class="row">
        <div class="col-sm-3 p-3">
    
            <!-- Household Search -->
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <button type="button" class="btn btn-block" data-bs-toggle="collapse" data-bs-target="#search_household">
                        <i class="fas fa-home"></i> &nbsp; 
                        <strong>Households</strong>  
                        &nbsp; &nbsp;
                        <i class="fas fa-search"></i>
                    </button>
                    <div id="search_household" class="collapse show">
                      <span>
                          <input type="text" class="form-control" placeholder="Search by Home # or name" 
                          [(ngModel)]="searchterm" 
                          name="searchByHousehold" id="searchByHousehold"  >  
                      </span>
                    </div>
                </div>
            </div>     
            <button type="button" class="btn btn-link" id="TMB" name="TMB" value="TMB" >TMB</button>  
            <button type="button" class="btn btn-link" id="LOB" name="LOB" value="LOB" >LOB</button>  
            <button type="button" class="btn btn-link" id="NAN" name="NAN" value="NAN" >NAN</button> 
            <br />
            <!----Accordion for Task Completion Status ------>   


            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne_IncompleteTasks">
                        <i class="fas fa-cog" aria-hidden="true"></i> &nbsp; 
                        {{ lblIncomplete }} 
                    </a>
                    <span class="badge bg-secondary float-end" id='incomplete' name='incomplete'>16</span>
                  </div>
                  <div id="collapseOne_IncompleteTasks" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->

                        <div class="list-group">
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_incompl | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index">
                                <span >
                                  <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}} 
                                </span> 
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo_CompletedTasks">
                        <i class="fas fa-cog" aria-hidden="true"></i> &nbsp; 
                        {{ lblComplete }} 
                  </a>
                  <span class="badge bg-secondary float-end" id='complete' name='complete'>0</span> 
                  </div>
                  <div id="collapseTwo_CompletedTasks" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->
                        <div class="list-group">
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_compl | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index">
                                <span >
                                  <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}} 
                                </span> 
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree_Flagged">
                        <i class="fas fa-flag" aria-hidden="true"></i> &nbsp; 
                        {{ lblFlagged }} 
                    </a>
                    <span class="badge bg-secondary float-end" id='incomplete' name='incomplete'>0</span>
                  </div>

                  <div id="collapseThree_Flagged" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->
                        <div class="list-group">
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_flag | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index">
                                <span >
                                  <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}} 
                                </span> 
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>

                </div>
              </div>

            <!-------------------------->
            <br />
        </div>





        <div class="col-sm-9 p-3">

            <div class="card">
					<div class="card-header">
						<div class="row">
						<div class="col-md-7">
							<span class="icon"><i class="far fa-copy"></i></span> <span>&nbsp; Tasks for household <strong>( homenumber )</strong> (hhname ) </span>
						</div>
						<div class="col-md-5 float-right text-end">
							<button class="btn btn-outline-dark btn-sm" type="button" title="Copy Home number">  <span class="icon"><i class="fas fa-copy"></i></span> <span>&nbsp; Copy Home #</span></button>
							&nbsp;
							<button class="btn btn-outline-dark btn-sm" type="button" title="Flag">  <span class="icon"><i class="fas fa-flag"></i></span> <span>&nbsp; Flag</span></button>
						</div>
						</div>	
					</div>
					<div class="card-body">
						<!----->
						<div class="row" *ngFor="let tasksbyhh of tasksbyhhs ; let i = index" >
							<div class="col-md-10">
								<span> taskname : ___ | HomeNumber : {{ tasksbyhh.homenumber }} | HHName : {{ tasksbyhh.hhname }} </span>				
							</div>
							<div class="col-md-2 float-right text-end justify-content-end">
								<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;"> Done ?</label> 
								</div>				
							</div>
						</div>
						<!----->	            
					</div>
                </div>     


				
                <!-------------------->
                <br />
                <div class="card">
                <div class="card-header">
                    <span class="icon">
                    <i class="fas fa-comment-alt"></i></span> 
                    <span style="font-weight: bold;">&nbsp; Household Comments</span>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="3" id="comments_household" name="comments_household" placeholder="Enter comments for this household here." title="Comments for Household"></textarea>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-outline-primary btn-sm" title="Save comments" name="btn_savehouseholdcomments" id="btn_savehouseholdcomments">Save</button> &nbsp; 
                    </div>
                    </div>
                </div>
                <!-- <div class="card-footer">Footer </div> -->
            </div>
            <!------------------------>
        </div>


    </div>

    <br />
</div>

