<br />
<footer>
	<p>Copyright &copy; {{ curentYear | date: 'yyyy' }} - Numeris Task List</p>
  <br />

    <p>
      <a routerLink="/" class="link_no_underline">Home</a> |
      <a routerLink="/tasklist" class="link_no_underline">Tasks</a> | 
      <a routerLink="/autotasks" class="link_no_underline">Auto Tasks</a> | 
      <a routerLink="/manualtasklist" class="link_no_underline">Manual Tasks</a> | 
      <a routerLink="/activitylog" class="link_no_underline">Activity Log</a> | 
      <a routerLink="/resources" class="link_no_underline">Resources</a> | 
	    <a routerLink="/about" class="link_no_underline">About</a> | 
	    <a routerLink="/tester" class="link_no_underline">Test</a> | 
	    <a routerLink="/login" class="link_no_underline">Login</a>     	  
	  
	    <br />
      <a routerLink="/dashboard" class="link_no_underline">Dashboard</a> | 
	    <a routerLink="/weights" class="link_no_underline">User Weights</a> | 	  
      <a routerLink="/delegates" class="link_no_underline">Delegates</a> |
      <a routerLink="/engineers" class="link_no_underline">Engineers</a> | 
      <a routerLink="/longweekends" class="link_no_underline">Long Weekend Reminders</a> |
      <a routerLink="/settings" class="link_no_underline">Global Settings</a> 
    </p>

  <br />
</footer>