<div class="container container-xl">
    
    
    <!--- ETL job run status below here ------>
    <div *ngFor="let etl of etlstatus" [ngSwitch]="etl.Status">
        <div *ngSwitchCase="'SUCCEEDED'">
            <!--- inserted nested case below here by major task # -->
            <div [ngSwitch]="etl.Status">
                <div [ngSwitch]="etl.ETLLogTypeID">
                  <div *ngSwitchCase="5">
                      <!-- ngSwitchDefault NOT working properly here -->
                      <div class="alert alert-info alert-dismissible d-flex align-items-center fade show"> 
                        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
                        ETL task # <strong>{{etl.ETLLogTypeID}}</strong>  &nbsp; 28 day report analysis has {{etl.Status | lowercase  }} for the current task date
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div> 
                  </div>
                  <div *ngSwitchCase="4">
                      <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
                        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
                        ETL task # <strong>{{etl.ETLLogTypeID}}</strong>  &nbsp; SharePoint tasks has {{etl.Status | lowercase  }} for the current task date
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div> 
                  </div>
                  <div *ngSwitchCase="1">
                      <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
                        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
                        ETL task # <strong>{{etl.ETLLogTypeID}}</strong>  &nbsp; Automated tasks with dependency - PG01 has {{etl.Status | lowercase  }} for the current task date
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div> 
                  </div>                    
                </div> 
              </div>            
            <!------------------------------------------------------>
        </div>
    </div>

    <!-- this is NOT in the ngFor loop | issues with logic, and ngSwitchDefault -->
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        ETL for automated tasks with dependency for PG02 has not been run for the current task date.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    <br />
    <!---------------------------------------------------------------------------->    
    
    
    
    
    <!----------------------------------------------------------->
    <!-- Info Alert -->
    <!--
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        ETL for automated tasks with dependency for PG02 has not been run for the current task date.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 

    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has never been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    -->

    <!-- Other potential use cases -->     
    <!-- Warning -->
    <!--
    <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi bi-exclamation-triangle"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has not been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    -->
    <!----------------------------------------------------------->

  </div> 

