<div class="container container-xl">
  <!-- w3 based show hide accord-->
  <!-- using w3 based accordion instead of Bootstrap, as the various Bootstrap based collapsibles (tabs & accordions) seem to be colliding -->
  <div>
    <button 
      onclick="fucbarGraphShowHide('barGraphShow')" 
      class="w3-btn w3-block w3-light-grey w3-left-align"
    >
      Dashboard &nbsp;  <i class="fas fa-caret-up"></i>
    </button>
    <div id="barGraphShow" class="w3-container w3-hide">
      <h4>Replace with bar graph</h4>

      <br /> 
      <!-- Bar Graph below here -->
      <!-- see  https://swimlane.github.io/ngx-charts/#/ngx-charts/bar-vertical  AND   https://stackblitz.com/edit/swimlane-stacked-horizontal-bar-chart?file=app%2Fapp.component.html   -->

      <!-- 
      <ngx-charts-bar-horizontal-stacked
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-horizontal-stacked>
      -->


      <img src="assets/images/bargraph01.png" alt="Resources" style="width:854px;height:133px;" />
    </div>  
  </div>
  <!-- End of w3 based accordion -->



  <!--
  <br /><br />
    <div class="accordion" id="collapseBarGraph">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Task Summary
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#collapseBarGraph">
            <div class="accordion-body">


              <br />
              <img src="assets/images/bargraph01.png" alt="Resources" style="width:854px;height:133px;">
            </div>
          </div>
        </div>  
    </div>
    --> 
    <br />
  </div>